* {
  box-sizing: border-box;
  font-family: 'Roboto Slab','Sawarabi Gothic', sans-serif;
}
header {
  height: 64px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
}
ul {
  display: flex;
}
li {}
h1 {}
h2 {}
section {
  height: calc(100vh - 64px);
}
section.first-block {
  margin-top: 64px;
  background: image-url('00000022.JPG');
}
