%header
  %ul
    %li.title
      %h1 portfolio
    %li
      about me
    %li
      works
    %li
      contact
%section#first-block
  %i.fas.fa-angle-double-down
%section#second-block
  %h2 about me
  .content
    .left-content
      = image_tag 'profile_side.png'
      %h3 Kazuki Sugiura
    .right-content
      %p 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸であり、あるところは山の尾をめぐる谷の入り口である。一筋の街道はこの深い森林地帯を貫いていた。東ざかいの桜沢から、西の十曲峠まで、木曾十一宿はこの街道に添うて、二十二里余にわたる長い谿谷の間に散在していた。道路の位置も幾たびか改まったもので、古道はいつのまにか深い山間に埋もれた。名高い桟も、
%section#third-block
  %h2 works
  .content
    .content__works
      %a{:href => "#"}
        %img{:alt => "Image from Gyazo", :src => "https://i.gyazo.com/4f0a7ebb0a8ee88ed94dd4402ab9c980.gif", :width => "960"}/
      %h3 predawner
      %p 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸であり、あるところは山の尾をめぐる谷の入り口である。一筋の街道はこの深い森林地帯を貫いていた。
    .content__works
      %a{:href => "https://gyazo.com/211150b27a37cb92ad5ef30e75b7fc85"}
        %img{:alt => "Image from Gyazo", :src => "https://i.gyazo.com/211150b27a37cb92ad5ef30e75b7fc85.gif", :width => "960"}/
      %h3 chatwork
      %p 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸であり、あるところは山の尾をめぐる谷の入り口である。一筋の街道はこの深い森林地帯を貫いていた。
    .content__works
      %a{:href => "https://gyazo.com/a4bda246e74535dcf249da285235fa47"}
        %img{:alt => "Image from Gyazo", :src => "https://i.gyazo.com/a4bda246e74535dcf249da285235fa47.gif", :width => "960"}/
      %h3 portfolio
      %p 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸であり、あるところは山の尾をめぐる谷の入り口である。一筋の街道はこの深い森林地帯を貫いていた。
%section#fourth-block
  %h2 contact
  .content
    %h3 z45.sugiura.kazuki@gmail.com
